@charset "UTF-8";

body {
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
}

.navbar {
    background-color: #353839;
    
}

.navbar .navbar-nav .nav-item {
    font-size: 14pt;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
}

#home {
    color: white;
    background-color:  #0d6efd!important;
}

#home h3 {
    color: white;
    background-color:  #0d6efd!important;
    font-size: 2.1em;
    margin-top: 1em;
}

.conteudo {
    background-color: yellow;
    height: 200px;
}

.caixa {
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a {
    margin: 0px 0px;
}

.titulos-conteudos a {
    text-decoration: none;
}

.titulos-conteudos h1 {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
}

.cabecalho h3 {
    text-align: justify;
}

@media (max-width: 768px) {
    .links {
        display: none;
    }
}

.equipe img {
    border-radius: 112px;
}

.equipe h4 {
    padding-top: 7px;
    color: white;
}

.cor-equipe {
    background-color: #0d6efd!important;
}

.equipe p {
        margin-top: 0;
        margin-bottom: 1rem;
        background-color: #0d6efd!important;
        color: white;
}

.equipe h4 {
    background-color: #0d6efd!important;
    color: white;
}

.texto-rodape {
    font-weight: bold;
}

#servicos h1 {
    color: #0d6efd!important;
    background-color:  white;

}

#servicos p, h4 {
    color: black;
    background-color:  white;

}

.navbar-nav .nav-link:hover {
    color: black;
}

.botao-home {
    background-color: #353839;
    border-radius: 26px;
}

@media (max-width: 768px) {
    #home h3 {
        color: white;
        background-color: #0d6efd!important;
        font-size: 1em;
        margin-top: 0.5em;
    }
    #home img {
        width: 10em;
    }
    #home .botao-home {
        justify-content: center;
        color: white;
        align-items: center;
        text-align: center;
        font-size: 1.1em;
        margin-top: 0.8em;
        margin-bottom: 1em;
    }

    .equipe .img-alterar img {
        width: 8.5em;
    }
    .equipe p {
        display: none;
    }
    #imagem-cabecalho {
        display: none;
    }
   
}
#home .botao-home .link-botao {
    text-decoration: none;
    color: white;
}
#home .botao-home a:hover {
    color: #0d6efd;
    background-color: white;
    border-color: black;
    font-weight: bold;
}
#home .botao-home:hover {
    color: #0d6efd;
    background-color: white;
    border-color: black;
    font-weight: bold;
}

/*PARA COMPUTADORES GRANDES*/

@media (min-width: 992px) {
    #home h3 {
        color: white;
        background-color: #0d6efd!important;
        font-size: 2.1em;
        margin-top: 2em;
    }
    #home .botao-home {
        text-decoration: none;
        color: white;
        background-color: #353839;
        margin: 10px;
        padding: 15px;
        font-size: 18pt;
        width: 70%;
    }
    #home .botao-home:hover {
        text-decoration: none;
        color: white;
        background-color: #353839;
        margin: 10px;
        padding: 15px;
        font-size: 18pt;
        width: 70%;
    }
    #home .botao-home a:hover {
        background-color: #353839;
        color: white;
    }
}



/*
#19577a
#1f98e0
#262626
#a6a6a6
*/