@charset "UTF-8";

body {
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
}

.navbar {
    background-color: #0d6efd!important;
}

.navbar .navbar-nav .nav-item {
    font-size: 14pt;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
}

#home {
    color: white;
    background-color: background-color: rgba(0, 0, 0, 0.05);
}

.conteudo {
    background-color: yellow;
    height: 200px;
}

.caixa {
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a {
    margin: 0px 0px;
}

.titulos-conteudos a {
    text-decoration: none;
}

.titulos-conteudos h1 {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
}

.cabecalho h3 {
    text-align: justify;
}

@media (max-width: 768px) {
    .links {
        display: none;
    }
}

.equipe img {
    border-radius: 112px;
}

.equipe h4 {
    padding-top: 7px;
    color: white;
}

.cor-equipe {
    background-color: #0d6efd!important;
}

.equipe p {
        margin-top: 0;
        margin-bottom: 1rem;
        color: white;
}

.texto-rodape {
    font-weight: bold;
}
/*
#19577a
#1f98e0
#262626
#a6a6a6
*/